/* --------------------------------------------------------------------------------------GENERAL PAGE SET UP STYLES---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



body {
    background-image: url("../Images/Background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Hide vertical scroll during animation */
}
/* --------------------------------------------------------------------------------------CONTACT US FORM---------------- */

#contact_page {                     /* contact us page background */
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: center;
    align-items:center;
    
}

.contact_page_title_block {          /* contact us text block */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -150px;
}

.contact_title_text {               /* contact us text */
    color: black;
    position: relative;
    text-align:center;
}





.form_block {
    background-color: gray;
    padding: 20px;
    width: 500px;
    height: 500px;
    position: relative;
    top: -150px;
}

.form-group_name {
    width: 100%;
    border-bottom: 4px solid white;
    padding-top: 40px;
}
.form-group_subject {
    width: 100%;
    border-bottom: 4px solid white;
    padding-top: 60px;
}
.form-group_email {
    width: 100%;
    border-bottom: 4px solid white;
    padding-top: 40px;
}
.form-group_message {
    width: 100%;
    border-bottom: 4px solid white;
    padding-top: 40px;
}



input, textarea { /* all inpuut style */
    width: 97%;
    padding: 10px;
    /*border-bottom: 4px solid black;*/
    font-size: 15px;
    background-color:transparent;
    border:none;
}

::placeholder{
    color:white;
}


button { /* input text placeholder */
    padding: 25px;
    color: white;
    outline: none;
    background: rgb(164, 124, 246);
    border: 2px solid rgb(164, 124, 246);
    width: 100%;
    cursor: pointer;
    align-items: center;
    position: relative;
    top: 40px;
}

