/* --------------------------------------------------------------------------------------GENERAL PAGE SET UP STYLES---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



body {
    background-image: url("../Images/Background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Hide vertical scroll during animation */
}
/* --------------------------------------------------------------------------------------NEWS STYLE---------------- */


.news_title { /* contact us text */
    display: flex;
    justify-content: center;
}