@model DataModel.Article

@{
    ViewData["News"] = "details";
}

<h1>News Article</h1>

<p>
    @Model.author
</p>
<p>
    @Model.title
</p>
<img src="@Model.urlToImage" alt="News"/>
<p>
    @Model.description
</p>

