<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

<link rel="stylesheet" href="~/css/HeaderStylesheet .css" asp-append-version="true" />                          @*----header style only----*@
<link rel="stylesheet" href="~/css/AboutUsStyleSheet.css" asp-append-version="true" />                          @*----about style only----*@



<!-- --------------------------------------------------------------------------------------------------------------------OUR STORY----------------------------------------------------------- -->
<body class="page_body">
    <div class="story">
        <h1>OUR STORY</h1>
        <p>
            <br><span>We</span> <span>are</span> <span>a</span> <span>team</span> <span>of</span> <span>five</span> <span>software</span> <span>developers:</span> <span>Omar,</span> <span>Sok,</span> <span>Michael,</span> <span>Sergei,</span> <span>and</span> <span>Mathew.</span>
            <span>We</span> <span>came</span> <span>up</span> <span>with</span> <span>the</span> <span>idea</span> <span>for</span> <span>Medintellia,</span> <span>a</span> <span>platform</span> <span>that</span> <span>makes</span> <span>it</span>
            <span>easy</span> <span>for</span> <span>people</span> <span>to</span> <span>research</span> <span>and</span> <span>book</span> <span>medical</span> <span>procedures</span> <span>in</span> <span>other</span> <span>countries.</span>
            <br><br><span>We</span> <span>spent</span> <span>many</span> <span>long</span> <span>days</span> <span>and</span> <span>nights</span> <span>building</span> <span>Medintellia,</span> <span>addressing</span> <span>concerns</span> <span>such</span>
            <span>as</span> <span>language</span> <span>barriers,</span> <span>cultural</span> <span>differences,</span> <span>and</span> <span>logistics.</span> <span>When</span> <span>we</span> <span>launched</span> <span>the</span>
            <span>platform,</span> <span>we</span> <span>were</span> <span>thrilled</span> <span>with</span> <span>the</span> <span>response</span> <span>from</span> <span>users</span> <span>all</span> <span>over</span> <span>the</span> <span>world.</span>
            <br><br><span>Our</span> <span>passion</span> <span>for</span> <span>programming</span> <span>and</span> <span>commitment</span> <span>to</span> <span>using</span> <span>technology</span> <span>for</span> <span>good</span> <span>were</span>
            <span>the</span> <span>driving</span> <span>forces</span> <span>behind</span> <span>our</span> <span>success</span>. <span>We</span> <span>believe</span> <span>that</span> <span>we</span> <span>have</span> <span>created</span>
            <span>something</span> <span>special</span> <span>that</span> <span>makes</span> <span>a</span> <span>positive</span> <span>impact</span> <span>on</span> <span>people's</span> <span>lives</span>.
            <br><br><span>Looking</span> <span>back</span> <span>on</span> <span>our</span> <span>journey</span> <span>with</span> <span>Medintellia,</span> <span>we</span> <span>are</span> <span>proud</span> <span>of</span>
            <span>what</span> <span>we</span> <span>accomplished</span> <span>as</span> <span>a</span> <span>team.</span> <span>We</span> <span>look</span> <span>forward</span> <span>to</span> <span>continuing</span> <span>our</span>
            <span>work</span> <span>in</span> <span>this</span> <span>field</span> <span>and</span> <span>creating</span> <span>more</span> <span>solutions</span> <span>that</span> <span>make</span> <span>a</span> <span>difference.</span>
        </p>
    </div>
    
    <!-- -----------------------------------------------------------------------------------------------------------MEET THE TEAM TITLE---------------------------------------------------- -->
    <h1 class="meet-the-team"></h1>

    <div>
        <div class="container">
            <div class="card">
                <div class="img">
                    <img src="~/Images/Omar.jpg">
                </div>
                <div class="top-text">
                    <div class="name">
                        Omar
                    </div>
                    <p>
                        Full Stack Developer
                    </p>
                </div>
                <div class="bottom-text">
                    <div class="text">
                    </div>
                    <div class="btn">
                        <a href="https://github.com/Omar-J-Ali" target="_blank">
                            <img src="~/Images/Github Icon.png" alt="Omar's Github'">
                            <span> Omar's Github</span>
                        </a>
                        <a href="https://linkedin.com/in/omar-j-ali" target="_blank">
                            <img src="~/Images/LinkedIn Icon.png" alt="Omar's LinkedIn'">
                            <span> Omar's LinkedIn</span>
                        </a>
                        <a href="https://omar-j-ali.github.io/ " target="_blank">
                            <img src="~/Images/Portfolio Icon.png" alt="Omar's Porfolio'">
                            <span> Omar's Portfolio</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="~/Images/sergei.jpg">
                </div>
                <div class="top-text">
                    <div class="name">
                        Sergei
                    </div>
                    <p>
                        Full Stack Developer
                    </p>
                </div>
                <div class="bottom-text">
                    <div class="text">
                    </div>
                    <div class="btn">
                        <a href="https://github.com/sergeiklein" target="_blank">
                            <img src="~/Images/Github Icon.png" alt="Sergei's Github'">
                            <span> Sergei's Github</span>
                        </a>
                        <a href="https://www.linkedin.com/in/sergei-klein/" target="_blank">
                            <img src="~/Images/LinkedIn Icon.png" alt="Sergei's LinkedIn'">
                            <span> Sergei's LinkedIn</span>
                        </a>
                        <a href="https://sergeiklein.github.io/" target="_blank">
                            <img src="~/Images/Portfolio Icon.png" alt="Sergei's Porfolio'">
                            <span> Sergei's Portfolio</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="~/Images/matt.png">
                </div>
                <div class="top-text">
                    <div class="name">
                        Mathew
                    </div>
                    <p>
                        Full Stack Developer
                    </p>
                </div>
                <div class="bottom-text">
                    <div class="text">
                    </div>
                    <div class="btn">
                        <a href="https://github.com/mcowdery" target="_blank">
                            <img src="~/Images/Github Icon.png" alt="Mathew's Github'">
                            <span> Mathew's Github</span>
                        </a>
                        <a href="https://www.linkedin.com/in/mathewcowdery/" target="_blank">
                            <img src="~/Images/LinkedIn Icon.png" alt="Mathew's LinkedIn'">
                            <span> Mathew's LinkedIn</span>
                        </a>
                        <a href="https://Mcowdery.github.io" target="_blank">
                            <img src="~/Images/Portfolio Icon.png" alt="Mathew's Porfolio'">
                            <span> Mathew's Portfolio</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="~/Images/Sok.jpg">
                </div>
                <div class="top-text">
                    <div class="name">
                        Sok
                    </div>
                    <p>
                        Full Stack Developer
                    </p>
                </div>
                <div class="bottom-text">
                    <div class="text">
                    </div>
                    <div class="btn">
                        <a href="https://github.com/SokEam1" target="_blank">
                            <img src="~/Images/Github Icon.png" alt="Sok's Github'">
                            <span> Sok's Github</span>
                        </a>
                        <a href="https://www.linkedin.com/in/sok-eam/" target="_blank">
                            <img src="~/Images/LinkedIn Icon.png" alt="Sok's LinkedIn'">
                            <span> Sok's LinkedIn</span>
                        </a>
                        <a href="https://sokeam1.github.io/" target="_blank">
                            <img src="~/Images/Portfolio Icon.png" alt="Sok's Porfolio'">
                            <span> Sok's Portfolio</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="~/Images/Michael.jpg">
                </div>
                <div class="top-text">
                    <div class="name">
                        Michael
                    </div>
                    <p>
                        Full Stack Developer
                    </p>
                </div>
                <div class="bottom-text">
                    <div class="text">
                    </div>
                    <div class="btn">
                        <a href="https://github.com/MichaelJGonzalez" target="_blank">
                            <img src="~/Images/Github Icon.png" alt="Michael's Github'">
                            <span> Michael's Github</span>
                        </a>
                        <a href="https://www.linkedin.com/in/michael-j-gonzalez-mjg/" target="_blank">
                            <img src="~/Images/LinkedIn Icon.png" alt="Michael's LinkedIn'">
                            <span> Michael's LinkedIn</span>
                        </a>
                        <a href="https://michaeljgonzalez.github.io/Personal-Site/" target="_blank">
                            <img src="~/Images/Portfolio Icon.png" alt="Michael's Portfolio'">
                            <span> Michael's Portfolio</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>